body {
    background-color: #333333;
    color: #F4F4F4;
    font-family: Metrophobic;
    padding: 0;
    margin: 0;
}

header, footer, #tiles {
    width: 100%;
}

header {
    text-align: right;
}

#tiles {
    display: flex;
}

footer {
    position: absolute;
}

header > h1 {
    font-family: Consolas;
    font-size: 80px;
    font-weight: bold;
    margin: 0 20px;
}

header > h1 > span {
    color: #333333;
    text-shadow: 1px 1px 5px #F4F4F4;
}

footer > h6 {
    margin: 0;
    text-align: center;
}

.tile {
    position:absolute;
    margin: 5px;
    float: left;
    width: 150px;
    height: 150px;
}

.width2 {
    width: 310px;
}

.width3 {
    width: 470px;
}

.width4 {
    width: 630px;
}

.height2 {
    height: 310px;
}

.height3 {
    height: 470px;
}

.height4 {
    height: 630px;
}

.tile > div, a {
    width: inherit;
    height: inherit;
    position: absolute;
}

.tile > a {
    cursor: pointer;
}

.tile > a:hover {
    opacity: 0.8;
}

.icon span {
    position: inherit;
    font-size: 14px;
    left: 5px;
    bottom: 5px;
    color: #F4F4F4;
}

.icon img {
    position: inherit;
    left: 50%;
    top: 50%;
    margin-left: -52px;
    margin-top: -58px;
}

.login {
    background: #F4F4F4
}

.login svg polygon {
    fill: #C60C30;
}

.login img {
    position: absolute;
    top: 50%;
    left: 75px;
    margin: -26px;
}

.login input[name=password] {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 175px;
    border: 2px solid #C60C30;
    border-radius: 4px;
    height: 26px;
    width: 350px;
    background-color: #F4F4F4;
    color: #333333;
    font-size: 18px;
}

.login input[name=submit] {
    position: absolute;
    top: 50%;
    margin-top: -26px;
    left: 550px;
    cursor: pointer;
    height: 52px;
    width: 52px;
    background: url("../images/enter.png") no-repeat;
    border: 0;
    color:transparent;
}

.login span {
    position: absolute;
    left: 175px;
    top: 25%;
    color: #C60C30;
}

.stats {
    background: #0c8dc6;
    display: block;
}

.stat {
    position: relative;
}

.stats img {
    margin-top: 5px;
    margin-left: 5px;
}

.stats div.meter {
    position: absolute;
    left: 62px;
    right: 5px;
    top: 28px;
    height: 20px;
    background-color: #F4F4F4;
    border-radius: 6px;
    padding: 3px;
}

.stats .meter > span {
    display: block;
    background-color: #0c8dc6;
    border-radius: 3px;
    height: 100%;
    width: 0;
    transition: width 2s;
    -webkit-transition: width 2s;
}

.stats .value {
    margin: 5px;
    float: right;
}
