.tile {
    float: left;
    position: relative;
    margin: 5px;
    background: #C60C30;
    width: 150px;
    height: 150px;
    color: white;
}

.width2 {
    width: 310px;
}

.width3 {
    width: 470px;
}

.width4 {
    width: 630px;
}

.height2 {
    height: 310px;
}

a.tile {
    cursor: pointer;
}

a.tile:hover {
    opacity: 0.8;
}

.icon span {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -51px;
    margin-top: -51px;
}

.login {
    background: #F4F4F4
}

.login img {
    position: absolute;
    top: 50%;
    left: 75px;
    margin: -26px;
}

.login input[name=login] {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 250px;
    border: 2px solid #C60C30;
    height: 26px;
    width: 270px;
    background-color: #F4F4F4;
    color: #333333;
    font-size: 18px;
}

.login input[name=submit] {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 480px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    background: url("../images/enter.png") no-repeat;
    border: 0;
}



.stats {
     background: black;
     line-height: 35px;
}

.stats .meter {
    height: 10px;
    border: 1px solid;
    padding: 3px;
}

.stats .meter > span {
    display: block;
    background-color: white;
    height: 100%;
    width: 0;
    transition: width 2s;
    -webkit-transition: width 2s;
}

.stats .value {
    float: right;
}
