.tile {
    position: relative;
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    color: #F4F4F4;
    background-color: #c60c30;
}

.width2 {
    width: 310px;
}

.width3 {
    width: 470px;
}

.width4 {
    width: 630px;
}

.height2 {
    height: 310px;
}

.height3 {
    height: 470px;
}

.height4 {
    height: 630px;
}

a.tile {
    cursor: pointer;
}

a.tile:hover {
    opacity: 0.8;
}

.icon span {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 14px;
}

.icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -52px;
    margin-top: -58px;
}

.login {
    background: #F4F4F4
}

.login svg polygon{
    fill: #C60C30;
    points: "0,0 100,0 150,75 100,150 0,150";
}

.login img {
    position: absolute;
    top: 50%;
    left: 75px;
    margin: -26px;
}

.login input[name=password] {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 175px;
    border: 2px solid #C60C30;
    border-radius: 4px;
    height: 26px;
    width: 350px;
    background-color: #F4F4F4;
    color: #333333;
    font-size: 18px;
}

.login input[name=submit] {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 550px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    background: url("../images/enter.png") no-repeat;
    border: 0;
}


.stats {
     background: #0c8dc6;
}

.stats img {
     padding: 1px;
}

.stats .meter {
    height: 10px;
    border: 1px solid;
    padding: 3px;
}

.stats .meter > span {
    display: block;
    background-color: white;
    height: 100%;
    width: 0;
    transition: width 2s;
    -webkit-transition: width 2s;
}

.stats .value {
    float: right;
}
